# 编译输出目录
build/
# 可执行文件（Windows/Linux/macOS 常见后缀）
**/build/
*.exe
*.out
*.app
# 中间目标文件
*.o
*.obj
# CMake 生成的文件
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
# IDE 配置文件（可选）
.vscode/
.idea/
# 其他临时文件
*.log
*.tmp
hello
greet
